<!-- <div class="word-modal container-fluid bg-book">
    <ul>
        <li class="row clearfix p-10 vertical" ng-repeat="item in $ctrl.dataList track by $index">
            <div class="col-lg-3 text-center" ng-bind="item.word"></div>
            <div class="col-lg-8 animated" ng-class="{'c-book fadeOut': !$ctrl.display, 'fadeIn': $ctrl.display}" ng-click="$ctrl.handleDisplay()">
                <span ng-if="$ctrl.display" ng-bind="item.type"></span>
                <span ng-if="$ctrl.display" ng-bind="item.description"></span>
                <span class="c-5" ng-if="!$ctrl.display">点击查看英文解释</span>
            </div>
            <div class="col-lg-1 text-center">
                <span class="iconfont icon-photoa"></span>
            </div>
        </li>
    </ul>
</div> -->

<search-input></search-input>

<!-- <div class="col-lg-12">
    <img src="http://tvax3.sinaimg.cn/crop.282.270.330.330.180/88bc99faly8fh2wtgehalj20p00p074l.jpg" />
</div> -->